<% provide(:title, "About") %>
<div class="inner cover">
  <div class="cover-content">
    <h1 class="cover-head">Choosing Clothes For You</h1>
    <p class="lead">
      こちらのサイトは誰でも気軽に洋服についての意見を書いていただける<br>
      サイトになっております。
    </p>
    <p class="lead">
      見るだけでも洋服を買う際の参考にもなりますし、洋服の生産者様も<br>
      皆様からの意見を得て、今後より良い商品を制作する参考にもなります。
    </p>
    <p class="lead">
      どうかご気軽にサービスをご利用ください。<br>
      また、操作がしづらいと感じた方は運営の方まで連絡いただけると幸いです.
    </p>
    <p class="lead">Choosing Clothes For You 運営より</p>
  </div>
</div>