<% provide(:title, "Home") %>
<div class="inner cover">
  <div class="cover-content">
    <h1 class="cover-heading">貴方にとってより良い服選び</h1>
    <p class="lead">UNIQLOとGUの商品のレビューサイトです。</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Sign Up</a>
    </p>
  </div>
</div>