<% provide(:title, "Home") %>
<% if user_signed_in? %>
<%= link_to "投稿", new_post_path %>
<% else %>
<div class="inner cover">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <div class="cover-content">
    <h1 class="cover-heading">貴方にとってより良い服選びのために</h1>
    <p class="lead">UNIQLOとGUの商品のレビューサイトです。</p>
    <p class="lead">
      <div class="btn btn-lg btn-secondary">
        <%= link_to "Sign Up",  new_user_registration_path %>
      </div>
    </p>
  </div>
</div>
<% end %>