<div class="stats">
  <% if @user.posts.any? %>
  <a  class="no_link">
    <strong class="stat">
     <%= @user.posts.count %>
    </strong>
    投稿数
  </a>
  <% else %>
  投稿はまだありません
  <% end %>
</div>
