<header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">Choosing Clothes For You</h3>
      <ul class="nav nav-masthead justify-content-center">
        <li class="nav-link active"><%= link_to "HOME", root_path %></li>
        <li class="nav-link"><%= link_to "ABOUT", about_path %></li>
      </ul>
    </div>
  </header>